@font-face {
    font-family: robotor;
    src: url("robotor.ttf");
}

body {
    height: unset;
    width: unset;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(55, 55, 55, 0), rgb(55, 55, 55)), linear-gradient(rgba(55, 55, 55, 0.2), rgba(55, 55, 55, 0.2)), url(hatter.png);
    background-size: cover;
}

.elem {
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#logo {
    width: 36.1vh;
}

.fnev {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.email {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.jszo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

input {
    width: unset;
    display: block;
    padding: 10px;
    border: 2px solid #ef3e57;
    border-radius: 10px;
    background: none;
    color: white;
    font-family: robotor;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: rgb(220, 220, 220);
}

input::selection {
    background-color: #ef3e557c;
}

.gomb {
    display: flex;
    justify-content: center;
}

button {
    width: 42.5vh;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #ef3e57;
    color: white;
    font-family: robotor;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: 0 0 0 3px #ef3e57;
    transition: 0s;
}