body {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(55, 55, 55, 0), rgb(55, 55, 55)), linear-gradient(rgba(55, 55, 55, 0.2), rgba(55, 55, 55, 0.2)), url("hatter.png");
    background-size: cover;
}

.kep {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

img {
    width: 60vh;
}

form {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

input {
    width: 60vh;
    display: block;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border: 2px solid #ef3e57;
    border-radius: 10px;
    background-color: unset;
    outline: none;
    color: white;
}

input::placeholder {
    color: white;
}

input:focus {
    border-color: white;
}

.jelszo {
    position: relative;
}

#gomb {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
    width: 130px;
    background-color: #ef3e57;
    color: white;
}

.gomb {
    width: 60vh;
    margin-top: 50px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #ef3e57;
    background-color: white;
}

.gomb:hover {
    color: white;
    background-color: #ef3e57;
}